In [1]:
import numpy as np
import pandas as pd

In [9]:
all_data = np.load("data/Places8_paths_and_labels_complete_train.npy")
bedroom_data = all_data[np.where(all_data=='bedroom')[0]]
childsroom_data = all_data[np.where(all_data=='childs_room')[0]]
df_bedroom = pd.read_csv('outputs/places8_bedroom_childs_room/class1_bedroom_3slices_otherclassessoftmax.csv', index_col=0)
df_childsroom = pd.read_csv('outputs/places8_bedroom_childs_room/class2_childs_room_3slices_otherclassessoftmax.csv', index_col=0)
df_bedroom

        group_0  group_1  group_2
0             1        0        0
1             1        0        0
2             0        1        0
3             0        1        0
4             1        0        0
...         ...      ...      ...
100007        0        1        0
100008        0        1        0
100009        0        1        0
100010        0        1        0
100011        1        0        0

[100012 rows x 3 columns]

In [10]:
group_0 = df_bedroom['group_0'].to_numpy()
group_1 = df_bedroom['group_1'].to_numpy()
group_2 = df_bedroom['group_2'].to_numpy()
x_group0 = bedroom_data[np.where(group_0 == 1)[0]].tolist()
x_group1 = bedroom_data[np.where(group_1 == 1)[0]].tolist()
x_test = bedroom_data[np.where(group_2 == 1)[0]].tolist()
for idx, k in enumerate(x_group0):
    x_group0[idx] = [k[0]] + [0]
for idx, k in enumerate(x_group1):
    x_group1[idx] = [k[0]] + [0]
for idx, k in enumerate(x_test):
    x_test[idx] = [k[0]] + [0]

In [11]:
group_0 = df_childsroom['group_0'].to_numpy()
group_1 = df_childsroom['group_1'].to_numpy()
group_2 = df_childsroom['group_2'].to_numpy()
y_group0 = childsroom_data[np.where(group_1 == 1)[0]].tolist()
y_group1 = childsroom_data[np.where(group_2 == 1)[0]].tolist()
y_test = childsroom_data[np.where(group_0 == 1)[0]].tolist()
for idx, k in enumerate(y_group0):
    y_group0[idx] = [k[0]] + [1]
for idx, k in enumerate(y_group1):
    y_group1[idx] = [k[0]] + [1]
for idx, k in enumerate(y_test):
    y_test[idx] = [k[0]] + [1]

In [12]:
y_group0 = np.asarray(y_group0)
y_group1 = np.asarray(y_group1)
x_test = np.asarray(x_test)
y_test = np.asarray(y_test)
x_group0 = np.asarray(x_group0)
x_group1 = np.asarray(x_group1)

In [13]:
group0 = np.concatenate([x_group0, y_group0])
group1 = np.concatenate([x_group1, y_group1])
group_test = np.concatenate([x_test, y_test])

In [16]:
np.save('outputs/places8_bedroom_childs_room/datasetDOMINO_group0_2classes.npy', group0)
np.save('outputs/places8_bedroom_childs_room/datasetDOMINO_group1_2classes.npy', group1)
np.save('outputs/places8_bedroom_childs_room/datasetDOMINO_test_2classes.npy', group_test)